
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.margin-top {
    margin-top: 20px;
}

.centered-container{
    
  @include centerElementContainer;
  padding: 4vh 0;
}
