.navigation {
  position: relative;
  ul {
    list-style: none;
  }
  .top-navbar {
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    min-height: 10vh;
    background-color: $topnavBgColor;
    margin-right: $sidebarWidth;
    padding-right: 2%;
    transition: margin-right $sidebarToggleTime linear;

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 60vw;
    }

    a {
      margin: 15px;
      color: $topnavLinkColor;
      text-decoration: none;
      &:hover {
        color: $topnavLinkHover;
      }
    }
  }
  .top-navbar-complete {
    margin-right: 0;
  }

  .sidebar {
    height: 100vh;
    background-color: $sidebarBgColor;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    right: 0;
    transition: width $sidebarToggleTime linear;
    width: $sidebarWidth;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    a {
      padding-right: 5%;
      color: $sidebarLinkColor;
      text-decoration: none;
      &:hover {
        color: $sidebarLinkHover;
      }
    }
  }
}

.main-content {
  margin-right: $sidebarWidth;
  transition: margin-right $sidebarToggleTime linear;
  text-align: right;
}

