$greyForForms : #e6e6e6;
$formBorder: #ccc;
$cardShadow: #595959;

//navigation:
$sidebarWidth: 25vw;
$topnavBgColor: #e6cdcd;
$topnavLinkColor: #000;
$topnavLinkHover : rgb(143, 132, 132);
$sidebarBgColor: rgb(44, 40, 40);
$sidebarLinkColor : #ccc;
$sidebarLinkHover : #fff;


$primary : rgb(153, 189, 146);